{% extends 'MauticCoreBundle:Default:content.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>{{ 'mautic.plugin.rukovoditel.new_lead.header'|trans }}</h1>
            {% if app.session.getFlashBag().has('error') %}
                {% for flashError in app.session.getFlashBag().get('error') %}
                    <div class="alert alert-danger">{{ flashError }}</div>
                {% endfor %}
            {% endif %}
            {% if app.session.getFlashBag().has('notice') %}
                {% for flashNotice in app.session.getFlashBag().get('notice') %}
                    <div class="alert alert-success">{{ flashNotice }}</div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
